.text-home {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text-add {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text-profile {
    color: #2E266F;
    font-size: 14px;
    text-decoration: underline;
}

.text {
    color: #2E266F;
    font-size: 14px;
}